{% extends 'base.html' %}

{% block title %}Ulasan Kunjungan - {{ review.destination.name }} - Desa Manud Jaya{% endblock %}

{% block content %}
<!-- Header Section -->
<section class="py-5 bg-light pb-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h1 class="mb-3">Ulasan Kunjungan</h1>
                <p class="lead">{{ review.destination.name }}</p>
            </div>
        </div>
    </div>
</section>

<!-- Success Card -->
<section class="py-1 pb-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-6 col-sm-8">
                <div class="card shadow-sm">
                    <div class="card-body p-4 text-center">
                        <div class="bi bi-check-circle mb-2 mt-4 text-success" style="font-size: 60px;"></div>
                        <p class="text-muted mb-4">{{ message }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}